@charset "UTF-8";
/* CSS Document */

body {
    background-color: #f5f5f5;
    color: #0a0100;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #64D1F9;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

nav#primary-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav#primary-navigation ul li {
    margin: 0;
}

nav#primary-navigation ul li a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-transform: uppercase;
}

nav#primary-navigation ul li a:hover {
    background-color: #575757;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
    nav#primary-navigation ul {
        flex-direction: column;
        align-items: center;
    }

    nav#primary-navigation ul li {
        margin: 5px 0;
    }
}